@font-face {
    font-family: 'GothamBold';
    src: url("../fonts/GothaProBol.otf") format("opentype");
}

@font-face {
    font-family: 'GothamMed';
    src: url("../fonts/GothaProMed.otf") format("opentype");
}

@font-face {
    font-family: 'Gotham';
    src: url("../fonts/GothaProReg.otf") format("opentype");
}

* {
    padding: 0;
    margin: 0;
    color: #282828;
    font-family: Gotham, sans-serif;
}

h1,
h2 {
    font-family: GothamBold, sans-serif;
}

#wrapper {
    width: 1190px;
}

header {
    position: fixed;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    background: white;
}

#header-container {
    width: 1190px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#header-logo {
    width: 9%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header-logo img {
    width: 64px;
}

.header-item {
    padding: auto 0;
    width: 14.2%;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.header-item a {
    font-family: GothamMed, sans-serif;
    font-size: 14px;
    line-height: 1rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 55px;
    color: #282828;
    text-decoration: none;
}

.animate-line {
    margin-top: 15px;
    background: #009bff;
    width: 0px;
    height: 3px;
    transition: .5s;
}

.header-item:hover .animate-line {
    width: 100%;
    transition: .5s;
}

#intro {
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1190px;
    margin: 0 auto;
}

#intro h1 {
    height: 51vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 60px;
    width: 50%;
}

#intro .subtitle {
    height: 34vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

h2 {
    font-weight: 300;
    font-size: 30px;
    line-height: 1.55;
}

h3 {
    font-weight: 300;
    font-size: 20px;
    line-height: 1.55;
}

.white-line {
    background: white;
    width: 80%;
    height: 2px;
    margin: 10px 0;
}

.white-text {
    color: white;
}

.line {
    width: 80%;
    height: 6px;
    background: #019aff;
}

.about-item {
    width: 297px;
    height: 296px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-item h2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.about-item h2,
.about-item h3 {
    height: 147px;
}

#about {
    background: #383838;
    height: 296px;
    display: flex;
    justify-content: center;
}

#about-container {
    height: 296px;
    width: 1190px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.title {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    margin: 50px 0;
}

.title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.title-container h3 {
    font-size: 22px;
    font-family: GothamMed, sans-serif;
    line-height: 1;
    font-weight: 500;
}

.title-container .line {
    width: 110%;
}

.uppercase {
    text-transform: uppercase;
}

#projects {
    width: 1190px;
    margin: 0 auto;
}

#more-projects{
    width: 100%;
    height: 240px;
    background: #383838;
}

.project-item{
    display: flex;
    justify-content: center;   
    flex-direction: row;
    align-items: center;
    height: 480px;
}


.project-title{
    text-align: right;
    width: 500px;
}

.project-item:nth-child(2n){  
    flex-direction: row-reverse;
}


.project-item:nth-child(2n) .project-title{
    text-align: left;
}


.project-item img{
    width: 590px;
}

#more-projects-container{
    width: 1190px;
    height: 240px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#more-projects-container h3{
    width: 240px;
}


button{
    width: 185px;
    height: 60px;
    background: #03a9f4;
    font-size: 16px;
    border: 0;
    color: white;
    transition: 1s;
}

button:hover{
    transition: 1s;
    background: #049ee6;
}

#services{
    width: 1190px;
    margin: 0 auto;
}

#services-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.service-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.service-item h2{
    text-align: right;
}

.service-item h2, .service-item h3{ 
    width: 48%;
}